@use '../util/' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-be-vietnam-pro);
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.no-scroll {
  overflow: hidden;

  @include breakpoint(large) {
    overflow: auto;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}