@use '../util' as *;

h1,
h2,
h3 {
  color: var(--blue);
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: clamp(2.2rem, 5vw, 3rem);
}

h2 {
  font-size: clamp(2rem, 5vw, 2.2rem);
  line-height: 1.5;
}

p {
  line-height: 1.7;
  color: var(--grayish-blue);
}

a,
a:visited,
a:active {
  text-decoration: none;
}

@include breakpoint(large) {
  h2 {
    line-height: 1.1;
  }
}