@use '../util/' as *;

.glide {
  overflow: hidden;
  padding: rem(80) 0;
  margin-bottom: rem(48);

  &__track {
    margin-bottom: rem(48);
  }

  &__slides {
    display: flex;
  }

  &__slide-inner {
    background-color: var(--light-gray);
    text-align: center;
    position: relative;
    padding: rem(112) rem(32) rem(24);
  }

  &__slide-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  &__bullets {
    display: flex;
    justify-content: center;
    gap: rem(4);
  }

  &__bullet {
    background-color: var(--light-gray);
    border: 2px solid var(--red);
    border-radius: 50%;
    padding: rem(4);
  }

  &__bullet--active {
    background-color: var(--red);
  }
}

@include breakpoint(large) {
  .glide {
    margin-bottom: 0;

    &__bullet {
      display: none;
    }
  }
}